@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background: linear-gradient(90deg, #00ffff, #212738)
}

h1 {
    color: black;
    font-family: "Oswald";
    font-weight: 700;
    letter-spacing: 0.5rem;

    margin-left: 20px;
    margin-top: 20px;
}

.border-container {
    border-bottom: 2px solid black;
    width: 60%;
    margin-left: 20px;
    margin-top: 5px;
}

.input-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    position: absolute;
    bottom: 0;

    margin-bottom: 20px;
    margin-left: 20px;

    input {
        height: 40px;
        width: 250px;
        padding-left: 10px;

        font-family: "Playfair Display";
        font-weight: 700;
        color: black;

    }

    button {
        height: 40px;
        width: 50px;

        background-color: #FFC857;
        border: 1px solid #D1D646;
        display: grid;
        place-content: center;
        padding-bottom: 3px;
    }

    button:before {
        content: "+";
        font-size: 1.5rem;
        color: black;
    }
}

.container ul {

    margin-top: 20px;
    margin-left: 20px;
    list-style-type: none;

    li {
        font-family: "Playfair Display";
        font-weight: 700;
        text-transform: capitalize;
        margin-top: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            margin-right: 10px;
        }

        button {
            margin-left: 10px;
        }
    }

    button {
        background-color: #FFC857;
        border: 1px solid black;

        font-family: "Playfair Display";
        font-weight: 700;
        color: black;

    }
}

.completed {
    text-decoration: line-through;
    color: lightgrey;
}